
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <title>Index</title>
</head>
<body>
    <div> 
        <input type="text" ng-model="a"/>
        {{a}}
    </div>
</body>
</html>
